<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO2GQRxFUDt-yIRdumEcuW8ACzI0EIMDA</string>
	<key>GCM_SENDER_ID</key>
	<string>683550110929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matcrm</string>
	<key>PROJECT_ID</key>
	<string>crm-payroll</string>
	<key>STORAGE_BUCKET</key>
	<string>crm-payroll.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683550110929:ios:51c8c8f6e5d95e098381f0</string>
</dict>
</plist>